<footer class="footer-distributed">
  <div class="footer-left">
      <a href="https://www.fsb.unizg.hr/index.php?fsbonline">
        <img height="80"
          src="https://www.fsb.unizg.hr/atlantis/web/sites/fsbonline/footer/FSB100-h-logotip-transparent_web.png"
          alt="fsb_logo"
      /></a>
  </div>

  <div class="footer-center">
      <p>
        <a href="https://zepeo.fsb.hr/en/">Department of Energy, Power and Environmental Engineering</a><br>
        Faculty of Mechanical Engineering and Naval Architecture <br>
        Ivana Lucica 5, 10002 Zagreb, p.p. 102, Croatia
      </p>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>Data Source</span>
      Data source: <a href="https://zenodo.org/record/6390223">Zenodo</a>
    </p>
  </div>
</footer>
