<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.rewardheat.eu/en/">
      <img
        src="https://www.rewardheat.eu/Download?id=image:76690200:1000&s=2071702061226535713"
        alt="rewardheat"
        id="rewardheat_logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-current="page"
          >
            <p style="color: black; display: inline">Home</p>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/#ltdh">LTDH</a></li>
            <li><a class="dropdown-item" href="/#ultdh">ULTDH</a></li>
            <li><a class="dropdown-item" href="/#ntdh">NTDH</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/calc" id="" role="button">
            Database
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/bar_charts" id="" role="button">
            LCOH Charts
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
